<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dafeng.management.customer.dao.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.dafeng.management.customer.entity.Customer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="village" property="village" jdbcType="VARCHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="liaison_man" property="liaisonMan" jdbcType="VARCHAR" />
    <result column="liaison_phone" property="liaisonPhone" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dafeng.management.customer.entity.Customer" >
    insert into customer (id, province, city, 
      area, village, company_name, 
      liaison_man, liaison_phone, remark, 
      create_date)
    values (#{id,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{village,jdbcType=VARCHAR}, #{companyName,jdbcType=VARCHAR}, 
      #{liaisonMan,jdbcType=VARCHAR}, #{liaisonPhone,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      now())
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dafeng.management.customer.entity.Customer" >
    update customer
    set province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      village = #{village,jdbcType=VARCHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      liaison_man = #{liaisonMan,jdbcType=VARCHAR},
      liaison_phone = #{liaisonPhone,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, province, city, area, village, company_name, liaison_man, liaison_phone, 
    remark, create_date
    from customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, province, city, area, village, company_name, liaison_man, liaison_phone, 
    remark, create_date
    from customer
  </select>
  <select id="list" resultMap="BaseResultMap" parameterType="com.dafeng.management.customer.entity.Customer">
    select id, province, city, area, village, company_name, liaison_man, liaison_phone,
    remark, create_date
    from customer
    <where>
      <if test="province != null and province != ''">province like concat('%',#{province},'%')</if>
      <if test="city != null and city != ''"> and city like concat('%',#{city},'%')</if>
      <if test="area != null and area != ''"> and area like concat('%',#{area},'%')</if>
      <if test="village != null and village != ''"> and village like concat('%',#{village},'%')</if>
      <if test="companyName != null and companyName != ''"> and company_name like concat('%',#{companyName},'%')</if>
      <if test="liaisonMan != null and liaisonMan != ''"> and liaison_man like concat('%',#{liaisonMan},'%')</if>
    </where>
  </select>

  <select id="countCompanyName" resultType="int">
    select count(1) from customer where company_name = #{companyName}
    <if test="customerId != null and customerId != ''">and id != #{customerId}</if>
  </select>

  <select id="countLiaisonPhone" resultType="int">
    select count(1) from customer where liaison_phone = #{phoneNum}
    <if test="customerId != null and customerId != ''">and id != #{customerId}</if>
  </select>

</mapper>